@page
@model SupermarketWEB.Pages.Providers.DeleteModel
@{
	ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<h3>Are you sure you want to Delete this?</h3>
<div>
	<h4>Providers</h4>
	<hr/>
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Providers.Nit)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Providers.Nit)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Providers.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Providers.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Providers.Address)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Providers.Address)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Providers.Number)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Providers.Number)
		</dd>
	</dl>

	<form method="post">
		<input type="hidden" asp-for="Providers.Id" />
		<input type="submit" value="Delete" class="btn btn-danger" />
		<a asp-page="./Index" class="btn btn-primary">Back to List</a>
	</form>
</div>
